* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
}
img {
  width: 100%;
}
#topImageHeight {
  width: 100%;
  height: 50vh;
  background-size: cover;
}
#bgVideo {
  width: 100%;
  height: 100vh;
}
let combineObject = Object.assign({}, object1, object2)